div {
    background-color: chocolate;
    margin: 100px;
    padding: 10px;
}

.headings {
    color: white;
    text-decoration: underline;
}

#para2 {
    background-color: cyan;
}

#imageSize {
    width: 100px;
    border-radius: 10%;
    border: 1.5px solid #000000;
}

